{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="post">
    <div class="row mb-3">
        <h1>Login</h1>
        
        <label for="email" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
        <div class="col-sm-10">
            <input     
            class="form-control form-control-lg"
            type="email" 
            name="email" 
            id="email"
            placeholder="Your Email"/>
        </div>
    </div>
    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
        <div class="col-sm-10">        
        <input 
        class="form-control form-control-lg"
        type="password" 
        name="password" 
        id="password"
        placeholder="Your Password"/>

        </div>
        <br>
    </div>
    <button type="submit" class="btn btn-primary float-end">Login</button>
</form>
{% endblock %}